/************* HELPER **************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

img {width: 100%;}

/*********** BORDER PROPERTIES ************/
.borderB    {border: 1px solid black;}
.borderW    {border: 1px solid white;}
.borderR    {border: 1px solid red;}
.borderG    {border: 1px solid green;}
.borderBlue {border: 1px solid blue;}

.radius {border-radius: 30px;}
.circle {border-radius: 50%;}

/***************** WIDTH *******************/
.col50  {width: 50%;}
.w100{width: 100%;}
.marginAuto{margin: 0 auto;}

/****************** FLEX *******************/
.flex          {display: flex;}
.flexColumn    {display: flex; flex-direction: column;}
.flexWrap      {flex-wrap: wrap;}
.spaceBtw      {justify-content: space-between;}
.justifyCenter {justify-content: center;}
.alignCenter   {align-items: center;}
.alignStart    {align-items: flex-start;}
.alignEnd      {align-items: flex-end;}
.textAlignCenter {text-align: center;}

/****************** BACKGROUND *************/
.bgLightBlue {background-color: #b5ddff;}
.bgLilla     {background-color: #9792e4;}
.bgWhite     {background-color: white;}
.bgBlack     {background-color: #222;}       
.white       {color: white;}

/****************** POSITION *******************/
.relative   {position: relative;}
.absolute   {position: absolute;}

/*********** HELPER END ************/
/****************** HEADER *******************/
header{
    padding: 0 9vw;
    background-color: #0084fd;
    margin-bottom: 4em;
}

header .navBar{
    width: 100%;
    padding: 1em 0;
    font-size: 14px;
}

.menu .fa-bars{
    font-size: 25px;
    color: white;
}

.menu .hiddenMenu{
    color: white;
    display: none;
}

.navBtn{
padding: 0.5em 1em;
text-align: center;
width: 100%;
border-radius: 25px;
background-color: white;
color: black;
}

.hiddenMenu li{
    margin-left: 20px;
}

/****************** MAIN *******************/
/*************** DEMO SECTION **************/
.container{
    max-width: 400px;
}

.bigCard{
    padding: 40px 25px 0 25px;
}

.bigCard h2:first-child{
    color: #0084fd;
    font-size: 25px;
    margin-bottom: 30px;
}

.bigCard img{
    display: block;
}

.bigCard div.benefitButton{
    background-color: #0084fd;
    color: white;
    padding: 0.7em 1em;
    width: 230px;
    margin-bottom: 25px;
}

.fa-solid{
    font-size: 75px;
    color: #0084fd;
}

.demo > .container .wrapper p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color:#999999
}

.card{
    width: 100%;
    margin-top: 1.5em;
    padding: 20px;
    text-align: center;
}

.card h2{
    color:#0084fd;
    text-align: center;
    font-size: 20px;
    margin: 35px auto;
}

/*************** PLANNING SECTION **************/
.planning{
    margin-top: 80px;
    padding-bottom: 1px;
}

.planning > .container{
    margin-top: 80px;
}

.bigPlanningCard{
   
    margin-bottom: 50px;
    padding-top: 50px;
}

.bigPlanningCard > img{
    margin-bottom: 100px;
}

.bigPlanningCard > h2{
    margin-bottom: 80px;
    font-size: 40px;
}

.planning p{
    line-height: 32px;
}

.planningCard{
    margin-bottom: 80px;
}

.planningCard img, h2, p, .fa-arrow-down-long{
    margin-bottom: 35px;
}

.planningCard p{
    font-style: italic;
    padding: 0 20px;
}

.fa-arrow-down-long{
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: black;
}

/*************** TESTIMONIALS SECTION **************/
.testimonials > .container{
    margin-top: 60px;
    padding-bottom: 150px;
}

.presentation{
    margin-bottom: 40px;
}

.presentation span{
    margin-bottom: 35px;
}

.presentation h2{
    color:#9792e4;
    font-size: 32px;
}

.presentation p{
    line-height: 32px;
}

.testimonialCard{
    
    margin-top: 40px;
    padding: 10px 30px;
}

.testimonialCard p{
    color: white;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 30px;
}

.testimonialCard .name{
    letter-spacing: 2px;
}

.foto{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    background-size: cover;
    background-position: center;
}

#firstTestimonial{
    background-image: url(../img/testimonial1.jpg);
}

#secondTestimonial{
    background-image: url(../img/testimonial2.jpg);
}

#thirdTestimonial{
    background-image: url(../img/testimonial3.jpg);
}

#fourthTestimonial{
    background-image: url(../img/about.jpg);
}

/*************** BENEFITS SECTION **************/
.benefits > .container{
    margin-top: 80px;
    padding-bottom: 40px;
}

.benefitCard{
    padding: 30px 40px;
    margin-bottom: 40px;
}

.number{
    font-size: 60px;
    color: #9792e4;
    margin-top: 20px;
    padding-bottom: 24px;
    font-weight: 600;
}

.benefitTitle{
    font-size: 43px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 75px;
}

.benefits .cardTitle{
    color: #9792e4;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.benefitDscrpt{
    color: #999999;
    line-height: 32px;
    font-size: 16px;
    padding-bottom: 0.5em;
}

.benefitButton{
    padding: 0.8em 2em;
    text-align: center;
    width: 67%;
    border-radius: 25px;
}

.benefitButton a{
    color: white;
    font-size: 18px;
}

/*************** ABOUT US SECTION **************/
.aboutDscrpt{
    padding-top: 110px;
}

.aboutDscrpt h2{
    color:#9792e4;
    font-size: 50px;
    padding-bottom: 70px;
}

.aboutDscrpt p{
    color:#222;
    font-size: 18px;
    line-height: 40px;
}

.aboutUs .testimonialCard > div.foto{
    margin-left: 0;
}

span.absolute{
    font-size: 216px;
    bottom: 362px;
    left: 173px;
    font-family: 'Palanquin', sans-serif;
    color: #9792e4;
}

#companyHelper{
    color:#9792e4;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 50px;
}

.aboutBtn{
    padding: 1em 1em;
    text-align: center;
    width: 65%;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 80px;
}

.aboutBtn > a{
    color: white;
    font-size: 16px;
} 

.fa-linkedin{
    margin-right: 0.5em;
} 

/*************** GET STARTED SECTION **************/
.getStarted div.aboutBtn > a{
    color:#9792e4;
}

.getStarted > .container > span.white{
    font-size: 22px;
    font-weight: 100;
    margin-top: 80px;
}

.getStarted > .container > h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}

#yellow{
    font-size: 70px;
    font-weight: 600;
    margin: 50px 0;
    text-align: center;
    color: #fdc15f;
}

.getParagraph{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

.getStarted > .container > div.aboutBtn{
    padding: 1.2em 1em;
    text-align: center;
    width: 74%;
    border-radius: 35px;
    cursor: pointer;
    margin-bottom: 50px;
    letter-spacing: 5px;
    font-weight: 600;
}

.getStarted > .container > div.aboutBtn > a{
    font-size: 20px;
}

.privacyPolicy{
    color: white;
    margin-bottom: 50px;
    text-align: center;
    font-size: 19px;
    font-weight: 200;
}

.privacyPolicy > a{
    text-decoration:underline;
    color: white;
}

footer.bgBlack{
    padding-bottom: 50px;
}

.bgBlack > .container > .footerParagraph{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}

.bgBlack > .container > .footerParagraph a{
    color:#9792e4;
    text-decoration: underline;
}

/********* MEDIA QUERY *********/
/*********** TABLET ************/


@media screen and (min-width: 768px) {
    /* HEADER */
    .container{
        max-width: 720px;
    }
    /* DEMO SECTION */
    .bigCard{
        max-width: calc((100% / 3) * 2 - 0.2em);
    }
    .bigCard img{
        max-width: 63%;
    }
    .card{
        max-width: calc((100% / 3) - 1em);
        margin-top: 0;
    }
    .demo .container .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .demo .container .wrapper:first-child{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    /* TESTIMONIAL SECTION */

    .testimonialFoto{
        min-width: 30%;
    }

    .testimonialCard{
        display: flex;
        padding: 10px;
    }

    .testimonialInfo{
        align-self: center;
        padding: 50px 20px 0 20px;
        text-align: left;
    }
    /* BENEFIT SECTION */

    .benefitCard{
        width: calc(50% - 1.5em);
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    .cardContainer{
        display: flex;
        flex-wrap: wrap; 
    }
    /* ABOUT US SECTION */

    .aboutUs .container{
        display: flex;
        justify-content: space-between;
    }

    .aboutDscrpt{
        width: 55%;
        padding-bottom: 150px;
    }

    .aboutUs .container .testimonialCard{
        width: 35%;
    }

    .aboutBtn{
        padding: 0.5em 1em;
        width: 87%;
    }

    span.absolute{
        bottom: 670px;
        left: 154px;
    }

    #companyHelper{
        font-size: 25px;
        margin-bottom: 25px;
    }
    /* GET STARTED SECTION */
    .getStarted > .container > div.aboutBtn{
        width: 40%;
    }

    /* FOOTER SECTION */
    .footerParagraph{
        margin: 0 125px;
    }
}   

/********* MEDIA QUERY *********/
/*********** DESKTOP ************/
 
@media screen and (min-width: 992px){
    .container{
        max-width: 950px;
    }

    .navBar{
        max-width: 950px;
    }

    .fa-bars{
        display: none;
    }

    .menu .hiddenMenu{
        display: flex;
    }

    .bigCard{
        display: flex;
    }

    .halfTop{
        width: 40%;
        margin-right: 10%;
    }

    .halfBottom{
        width: 50%;
    }

    .halfBottom > img{
        max-width: 100%;
    }
}


