/*********** HELPER ************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

img{
    width: 100%;
}

/*********** BORDER PROPERTIES ************/

.borderB    {border: 1px solid black;}
.borderW    {border: 1px solid white;}
.borderR    {border: 1px solid red;}
.borderG    {border: 1px solid green;}
.borderBlue {border: 1px solid blue;}


.radius {border-radius: 20px;}
.circle {border-radius: 50%;}

/***************** WIDTH *******************/

.w100   {max-width: 100%;}

.col5   {width: 5%;}
.col10  {width: 10%;}
.col15  {width: 15%;}
.col20  {width: 20%;}
.col25  {width: 25%;}
.col30  {width: 30%;}
.col40  {width: 40%;}
.col50  {width: 50%;}

.marginAuto{margin: 0 auto;}

/****************** FLEX *******************/

.flex          {display: flex;}
.flexColumn    {display: flex; flex-direction: column;}
.spaceBtw      {justify-content: space-between;}
.spaceAround   {justify-content: space-around;}
.justifyEnd    {justify-content: flex-end;}
.justifyCenter {justify-content: center;}
.alignCenter   {align-items: center;}
.alignStart    {align-items: flex-start;}
.alignEnd      {align-items: flex-end;}

/****************** BACKGROUND *************/

.bgLightBlue {background-color: #b5ddff;}
.bgLilla     {background-color: #9792e4;}
.bgWhite     {background-color: white;}


/*********** HELPER END ************/

/****************** HEADER *******************/

header{
    min-height: 95px;
    background-color: #0084fd;
    margin-bottom: 4em;
}

.navBar{
    min-width: 83%;
    height: 3em;
}

/****************** MAIN *******************/


/*************** DEMO SECTION **************/

.container{
    width: 83%;
}

.bigCard{
    min-height: 775px;
}

.card{
    height: 460px;
    margin-top: 1.5em;
}

/*************** PLANNING SECTION **************/

.planning{
    margin-top: 80px;
}

.planning > .container{
    margin-top: 80px;
}

.bigPlanningCard{
    min-height: 820px;
    margin-bottom: 50px;
}

.planningCard{
    min-height: 790px;
    margin-bottom: 80px;
}

/*************** TESTIMONIALS SECTION **************/

.testimonials > .container{
    margin-top: 80px;
    padding-bottom: 150px;
}

.presentation{
    min-height: 460px;
    margin-bottom: 40px;
}

.testimonialCard{
    min-height: 640px;
    margin-top: 40px;
}

.foto{
    width: 260px;
    height: 260px;
    margin: 40px auto;
    background-size: cover;
    background-position: center;
}

#firstTestimonial{
    background-image: url(../img/testimonial1.jpg);
}

#secondTestimonial{
    background-image: url(../img/testimonial2.jpg);
}

#thirdTestimonial{
    background-image: url(../img/testimonial3.jpg);
}


/*************** BENEFITS SECTION **************/

.benefits > .container{
    margin-top: 80px;
    padding-bottom: 40px;
}

.benefitCard{

    padding: 40px;
    margin-bottom: 40px;
}

.number{
    font-size: 50px;
    color: #9792e4;
    margin-top: 20px;
    padding-bottom: 40px;
    font-weight: 600;
}

.benefitTitle{
    font-size: 43px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 75px;
}

.benefits .cardTitle{
    color: #9792e4;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.benefitDscrpt{
    color: #999999;
    line-height: 32px;
    font-size: 18px;
    padding-bottom: 1.5em;
}

.benefitButton{
    padding: 1em 2em;
    text-align: center;
    width: 53%;
    border-radius: 25px;
}

.benefitButton a{
    color: white;
    font-size: 18px;
}

/*************** ABOUT US SECTION **************/


.aboutDscrpt{
    padding-top: 110px;
}

.aboutDscrpt h2{
    color:#9792e4;
    font-size: 50px;
    padding-bottom: 70px;
}

.aboutDscrpt p{
    color:#999999;
    font-size: 22px;
    line-height: 40px;
}

.aboutUs .testimonialCard > div.foto{
    margin-left: 0;
}


